/* General */

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.text-red {
  color: #f34423;
}

/* Header */

.top-bar-big {
  background: #f34423;
}

.logo-big {
  background: url(./img/newsweek-logo.svg) -40px -30px no-repeat;
  background-size: cover;
  width: 500px;
  height: 65px;
}

.top-bar-right {
  font-size: 18px;
}

.top-bar-right a:hover {
  text-decoration: none;
}

#subscribe:hover {
  color: #f34423;
}

.right-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-color: #f34423;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  margin: 0 15px 1px 5px;
}

/* Main */

.grey-title,
.grey-title a,
.grey-title a:hover {
  color: rgba(3, 3, 3, 0.4);
  text-decoration: none;
}

.subline-red a:hover {
  text-decoration-color: #f34423;
}

.hover-red a:hover {
  color: #f34423;
  text-decoration: none;
}

.lora {
  font-family: Lora, serif;
}
