/* General */

body {
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.text-red {
  color: #f34423;
}

.hover-red a:hover {
  color: #f34423;
  text-decoration: none;
}

.hover-red-single:hover {
  color: #f34423;
  text-decoration: none;
}

.subline-red a:hover {
  text-decoration-color: #f34423;
}

.no-subline:hover {
  text-decoration: none;
}

.grey-title,
.grey-title a,
.grey-title a:hover {
  color: rgba(3, 3, 3, 0.4);
  text-decoration: none;
}

.lora {
  font-family: Lora, serif;
}

/* Header */

/* Big and Medium */

.top-bar-big {
  position: relative;
  z-index: 2000;
}

.top-bar {
  background: #f34423;
}

.logo-big {
  background: url(./img/newsweek-logo.svg) 0 -30px no-repeat;
  background-size: cover;
  width: 500px;
  height: 65px;
}

.top-bar-right {
  font-size: 18px;
}

.right-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-color: #f34423;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  margin: 0 15px 1px 5px;
}

.nav-skew {
  float: left;
  background: #f34423;
  width: 78px;
  height: 13px;
  transform: skewX(45deg);
}

.skew-filler {
  position: absolute;
  right: 0;
  background: #f34423;
  width: 20px;
  height: 13px;
}

/* Small */

.logo {
  width: 165px;
  height: auto;
}

.nav-menu {
  border: none;
  background: transparent;
  color: #fb9a94;
  transform: scale(1.7);
}

.nav-menu:focus {
  outline: none;
}

/* Main */
